
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <image class="first-slide" alt="First slide">
              <div class="container">
               <div class="carousel-caption text-left">
                   <h1>Slide 1 Heading</h1>
                    <p>Add some small detail here</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <image class="second-slide" alt="Second slide">
              <div class="container">
               <div class="carousel-caption text-left">
                   <h1>Slide 2 Heading</h1>
                    <p>Slide 2 details. Might include button...we'll see</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">2nd button</a></p>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <image class="third-slide" alt="Third slide">
              <div class="container">
               <div class="carousel-caption text-left">
                   <h1>Slide 3 Heading</h1>
                    <p>Slide 3 details. Might include button...we'll see</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">3rd button</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>